<div class="card shadow border-0 mt-4">
    <div class="card-header bg-light bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Not Found</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-12">
                <p class="p-1 position-relative text-bg-danger text-white">The page you requested could not be found.</p>
            </div>
        </div>
    </div>
</div>
